@charset "utf-8";
/* sub 레이아웃 */
.header.black {background: #fff;}

.sub-top {position: fixed; top: var(--header-height);  width: 100%; background-color: #fff; z-index: 15;}
.sub-top .inner {width: 100%; max-width: 1600px; display: flex; flex-direction: column; margin: 0 auto;}
.sub-title {font-weight: bold; font-size: 16px; padding: 10px 15px; border-bottom: 1px solid var(--border-color); text-transform: uppercase;}
.category-tab {padding: 10px 15px; display: flex; gap: 10px; overflow-x: auto;}
.category-tab>li {height: 30px; padding: 0 20px; line-height: 30px; background: #EFEFEF; color: #777; border-radius: 20px; font-size: 13px;}
.category-tab>li.on {color: #fff; background: #000;}

.contents {margin-top: calc(var(--header-height) + 95px);}
.contents.type2 {margin-top: var(--header-height);}
.inner-cont {max-width: 600px; margin: 0 auto; padding: 70px 15px;}
.inner-cont h3 {font-size: 25px; font-weight: bold; margin-bottom: 20px;}
.tab-list{
    padding: 0 0 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 25px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}
.tab-list::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

.tab-list li {
    display: flex;
    align-items: center;
}
.tab-list li.on{
    background-color: #000;
    color: #fff;
    border-radius: 12px;
}
.tab-list li>a {
    padding: 7px 15px;
}
.tab-view-list>li {display: none;}
.tab-view-list>li.on {display: block;}
@media screen and (min-width: 768px) {
    .sub-top .inner {flex-direction: row; align-items: center;}
    .sub-title {border-bottom: none; font-size: 18px;}
    .category-tab>li {font-size: 14px;}

    .contents {margin-top: calc(var(--header-height) + 50px);}
    .inner-cont h3 {font-size: 30px; margin-bottom: 25px;}
}

@media screen and (max-width: 400px) {
    .tab-list {
        flex-wrap: nowrap;
        gap: 10px;
        overflow-x: auto;
        margin-bottom: 40px;
        padding-bottom: 10px;
    }
}
/* 에러페이지 */
.error-wrap {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    justify-content: center;
}
.error-wrap h1 {
    font-size: 1.5rem;
    margin: 15px 0 10px;
    font-weight: bold;
}
.error-wrap p {
    color: #555;
}
.error-wrap a {
    color: #fff;
    background-color: #000;
    padding: 7px 15px;
    border-radius: 12px;
    text-decoration: none;
}
.error-wrap a:hover {
    text-decoration: underline;
}
.error-wrap img{
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .error-wrap h1 {
        margin: 30px 0 15px;
    }
}
