@charset "UTF-8";
/* 장바구니 페이지 레이아웃 */
.inner-cont.wide {max-width: 1200px;}

/* input s */
input {appearance: none; background: none; border: none;}
.checkbox input[type="checkbox"] {width: 16px; height: 16px; border: 1px solid #000;}
.checkbox input[type="checkbox"]:checked {background: url('../img/common/icon-check-on.svg') no-repeat center;}
/* input e */

/* cart-wrap s */
.cart-wrap {display: flex; flex-direction: column; gap: 20px; position: relative;}

.product-head {display: flex; justify-content: space-between; align-items: center; padding: 12px;}
.product-head .checkbox {height: 16px;}
.cart-list>li {border-top: 1px solid var(--border-color)}
.cart-list .item {display: flex; justify-content: space-between; gap: 10px; padding: 10px 10px 10px 12px;}
.item-info-wrap {display: flex; flex-direction: column; gap: 10px;}
.item-thumbnail {width: 80px; overflow: hidden;}
.item-thumbnail>a {display: block; width: 100%; height: 100%;}
.item-thumbnail img {width: 100%; height: 100%; object-fit: cover;}

.quantity {width: 100px; height: 30px; background-color: #eee; display: flex;}
.item-action {display: flex; gap: 20px;}
.item-action input {width: 40px; text-align: center; line-height: 30px;}
.item-action button {width: 30px; height: 30px; position: relative;}
.item-action button.down-btn::before, 
.item-action button.up-btn::before {content: ''; display: inline-block; width: 12px; height: 1px; background-color: #000; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.item-action button.up-btn::after {content: ''; display: inline-block; width: 1px; height: 12px; background-color: #000; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.item-action button.del-btn::before, .item-action button.del-btn::after {content: ''; display: inline-block; width: 14px; height: 1px; background-color: #000; position: absolute; left: 50%; top: 50%; translate: -50% -50%;}
.item-action button.del-btn::before {rotate: 45deg;}
.item-action button.del-btn::after {rotate: -45deg;}

.cart-box.right .inner {padding: 16px; display: flex; flex-direction: column; gap: 10px; background: #000; color: #fff;}
.cart-box .noti-box {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; gap: 5px; font-size: 12px;}
.price-detail>li {display: flex; align-items: center; justify-content: space-between;}
.price-detail span, .total-price span {font-weight: bold;}
.total-price {display: flex; align-items: flex-end; justify-content: space-between; margin-top: 1rem;}
.total-price span {font-size: 1.8rem; line-height: 1;}

.cart-box .btn-wrap {display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; gap: 10px; margin-top: 20px;}
.btn-square {width: calc(50% - 5px); background-color: #fff; padding: 8px 14px; color: #000;}
.btn-square.bg-gray {background-color: #ccc;}
.btn-round {background-color: #fff; color: #000; padding: 2px 10px; border-radius: 10px;}
.btn-underline {position: relative;}
.btn-underline::after {content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background-color: #000; transform: scaleX(1); transition: transform 0.4s cubic-bezier(0.22,0.61,0.35,1),background-color 0.3s; transform-origin: 100% 0;}
.btn-underline:hover::after, .btn-underline:active:after {transform: scaleX(0); transform-origin: 0 0;}
@media screen and (min-width: 1024px) {
    .cart-wrap {flex-direction: row; justify-content: space-between;}
    .cart-box.left {width: calc(60% - 10px);}
    .cart-box.right {width: calc(40% - 10px);}
    .cart-box.right .inner {position: sticky; top: 140px;}

    .item-thumbnail {width: 120px;}
}
/* cart-wrap e */

