@charset "utf-8";
/* font s */
@font-face {
  font-family: 'Pretendard';
  src: url(../font/Pretendard-Regular.woff) format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Pretendard';
  src: url(../font/Pretendard-Medium.woff) format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Pretendard';
  src: url(../font/Pretendard-Bold.woff) format('woff');
  font-weight: 700;
}
@font-face {
    font-family: 'Tamburins';
    src: url(../font/Tamburins-Regular.woff) format('woff');
    font-weight: 500;
  }
/* font e */
:root {
    /* font */
    --pretendard: 'Pretendard', sans-serif;
    --tamburins: 'Tamburins', serif;

    /* color */
    --point-color: #FF0000;
    --header-btn-color: #000;
    --menu-btn-color: #fff;
    --border-color: #eee;
    --sub-text-color: #a4a4a4;
    --link-btn-color: #000;

    /* 단위 (높이, 마진 패딩 값 등) */
    --header-height: 45px;
    --gnb-link-height: 120px;
    --header-btn-size: 20px;
}

/* reset css s */
* {margin :0; padding: 0; font: inherit; color: inherit;}
*, :after, :before {box-sizing: border-box; flex-shrink: 0;}
:root {-webkit-tap-highlight-color: transparent; -webkit-text-size-adjust: 100%; text-size-adjust: 100%; cursor: default; line-height: 1.5; overflow-wrap: break-word; word-break: break-word; tab-size: 4}
html, body {height: 100%;}
img, picture, video, canvas, svg {display: block; max-width: 100%;}
button {background: none; border: 0; cursor: pointer;}
a {text-decoration: none;}
table {border-collapse: collapse; border-spacing: 0;}
ul, ol {list-style: none;}
address, em {font-style: normal;}
fieldset {border: 0;}
html {font-family: var(--pretendard);}
iframe {overflow: hidden; margin: 0; padding: 0; border: 0;}
/* reset css e */

/* common css s */
body {font-size: 14px; letter-spacing: -0.7px;}
body.on {overflow: hidden;}
.dimm {position: fixed;  left: 0;  top: 0;  bottom: 0;  opacity: 0;  width: 100%;  height: 0;  background: rgba(17, 17, 17, 0.8); transition: opacity 0.3s; backdrop-filter: saturate(180%) blur(10px); -webkit-backdrop-filter: saturate(180%) blur(10px);}
.dimm.on {opacity: 1;  height: 100vh;  z-index: 20;}
.blind {position: absolute; overflow: hidden; width: 1px; height: 1px; clip: rect(0,0,0,0); margin: -1px;}
.skip {width: 100%; height: 0; top: 0; left: 0;}
.skip a {display: block; overflow: hidden; position: absolute; top: 0; text-indent: -9999px;}
.skip a:focus, .skip a:active {display: block; position: absolute;  top: 0;  width: 100%; z-index: 9999;  padding: 10px 0; font-size: 15px; line-height: 14px; text-indent: 0; text-align: center; color: #fff; background: #444;}
.skip a:focus-visible {outline: 3px dashed #000; outline-offset: -3px;}
.wrapper {min-width: 280px; height: 100%; display: flex; flex-direction: column;}
::selection {background-color: #000; color: #fff;}
@media screen and (min-width: 768px) {
  body {font-size: 15px;}
}

@media screen and (min-width: 1024px) {
  body {font-size: 16px;}
}