@charset "utf-8";
.pager{
    display: flex;
    justify-content: center;
    padding: 70px 0;
    
}

.faq-list li{
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 3px;
    border-color: #dedede;
    padding: 5px 15px;
}

.answer {display: none;}

.question{
    display: block;
}
.question.on{
    font-weight: 500;
    margin-bottom: 1rem;
}


.pager-numlist>a{
    margin: 0 10px;
}
