@charset "utf-8";
/** header s **/
.header {height: var(--header-height); position: fixed; left: 0; top: 0; right: 0; z-index: 20;}
.header.sticky {backdrop-filter: blur(15px); -webkit-backdrop-filter: blur(15px);}
@media screen and (min-width: 768px) {
    :root {--header-height: 60px;}
}

@media screen and (min-width: 1024px) {
    :root {--header-height: 70px;}
}
/* inner-header s */
.inner-header {display: flex; justify-content: space-between; align-items: center; padding: 10px; height: 100%;}
.logo {width: 116px;}
.logo>a {display: flex;}
.logo img {width: 100%; height: 100%;}
.header-left {display: flex; align-items: center;}
@media screen and (min-width: 768px) {
    .logo {width: 154px;}
    .inner-header {padding: 10px 15px;}
    .header-left {min-width: 115px;}
}

@media screen and (min-width: 1024px) {
    .inner-header {padding: 15px 20px;}
}
/* inner-header e */
/* gnb s */
.gnb-wrap {position: fixed; top: 0; right: -100%; width: 100%; height: 100vh; transition: right 0.4s; background-color: #fff;}
.gnb-wrap.open {right: 0;}

.gnb-top {height: var(--header-height); display: flex; justify-content: flex-end; align-items: center; padding: 10px;}
.gnb {height: calc(100% - var(--header-height) - var(--gnb-link-height));}

.gnb-inner {display: flex; flex-direction: column; padding-top: var(--header-height); height: calc(100% + var(--header-height));}

.gnb .dep1 {display: flex; padding: 13px 15px; font-size: 18px; cursor: pointer;}
.gnb .dep2 {display: none; padding: 0 15px 30px; font-size: 15px;}
.gnb-link {height: var(--gnb-link-height); padding: 10px;}

.link-list>li:not(:last-child) {padding-bottom: 10px;}

@media screen and (min-width: 768px) {
    .gnb .dep1  {font-size: 22px;}
    .gnb .dep2 {font-size: 18px;}
}

@media screen and (min-width: 1024px) {
    .gnb .dep1  {font-size: 22px;}
    .gnb .dep2 {font-size: 18px;}
}

@media screen and (min-width: 1200px) {
    .gnb .dep1 {font-size: 28px;}
}

@media screen and (min-width: 1400px) {
    .gnb .dep1 {font-size: 1.8vw;}
    .gnb .dep2 {font-size: 20px;}
}
/* gnb e */
/* util s */
.util {display: flex; gap: 12px;}
.util button {width: var(--header-btn-size); height: var(--header-btn-size); background-repeat: no-repeat; background-position: center; background-size: 100%;}
.search-open-btn {width: var(--header-btn-size); height: var(--header-btn-size); background: url('../img/main/icon_search_w.svg') no-repeat center/100%;}

.menu-btn {position: relative; display: flex; flex-direction: column; justify-content: center; z-index: 19; transition: background-color .3s;}
.menu-btn .line {width: var(--header-btn-size); height: 2px; background-color: var(--menu-btn-color);}
.menu-btn .line::before, .menu-btn .line::after {content: ''; position: absolute; left: 0; width: var(--header-btn-size); height: 2px; background-color: var(--menu-btn-color);}
.menu-btn .line::before {top: 2px;}
.menu-btn .line::after {bottom: 2px;}
.menu-btn.on {--menu-btn-color: #000;}
.menu-btn.on .line {transform: rotate(-45deg); width: var(--header-btn-size); transition: rotate .3s;}
.menu-btn.on .line::before {top: 0; opacity: 0;}
.menu-btn.on .line::after {bottom: 0; transform: rotate(90deg);}

.util button.cart-btn {background-image: url('../img/main/icon_bag_w.svg');}
.util button.account-btn {background-image: url('../img/main/icon_account_w.svg'); background-size: 96%;}


.header.black .search-open-btn {background-image: url('../img/main/icon_search_b.svg');}
.header.black .menu-btn {--menu-btn-color: #000;}
.header.black .cart-btn {background-image: url('../img/main/icon_bag_b.svg');}
.header.black .account-btn {background-image: url('../img/main/icon_account_b.svg');}


@media screen and (min-width: 768px) {
    .util {gap: 20px;}
    .header {--header-btn-size: 25px;}
    .menu-btn .line::before {top: 3px;}
    .menu-btn .line::after {bottom: 3px;}
}
/* util e */
/* search s */
.search-wrap {position: fixed; top: 0; bottom: 0; left: -100%; width: 100%; max-width: 768px; height: 100vh; background: #fff; transition: left 0.4s; overflow-y: auto; z-index: 35;}
.search-wrap.open {left: 0;}

.search-top {height: var(--header-height); display: flex; align-items: center; justify-content: flex-end; padding: 10px 28px;}
.search-top button {width: var(--header-btn-size); height: var(--header-btn-size); position: relative;}
.search-top button::before, .search-top button::after {content: ''; display: inline-block; position: absolute; width: var(--header-btn-size); height: 2px; background-color: #000; left: 0;}
.search-top button::before  {transform: rotate(45deg);}
.search-top button::after  {transform: rotate(-45deg);}

.search-form {padding: 15px 15px 30px;}
.form-inner {display: flex; flex-direction: column; gap: 25px;}
.search-form input {border: none;  background: transparent; width: calc(100% - 40px); padding: 10px 35px 10px 17px;}
.search-box {background: #f9f9f9; position: relative; padding: 5px 10px;}
.search-box button {position: absolute; right: 11px; top: 50%; transform: translateY(-50%);}
.search-btn {width: 35px; height: 35px; background: url('../img/main/icon_search_b.svg') no-repeat center/50%;}
.search-box button.erase-btn {width: 35px; height: 35px; right: 46px; opacity: 0; transition: opacity .25s;}
.search-box button.erase-btn.on {opacity: 1;}
.erase-btn::before, .erase-btn::after {content: ''; position: absolute; left: 50%; top: 50%; width: 20px; height: 2px; background-color: #aaa; translate: -50% -50%;}
.erase-btn::before {rotate: 45deg;}
.erase-btn::after {rotate: -45deg;}

.search-content {display: none;}
.search-content.active {display: block;}
.box-tit {display: block; font-size: 1.3rem; font-weight: 700; margin-bottom: 0.8rem;}
.recommend-list>li {cursor: pointer;}
.recommend-list>li:not(:first-child) {padding-top: 0.5rem;}

.result-list {display: flex; flex-direction: column; gap: 10px;}
.result-list .item>a {display: flex; gap: 10px; align-items: center;}
.result-list .img-box {width: 80px; height: 100px; border-radius: 5px; overflow: hidden;}
.result-list .img-box img {width: 100%; height: 100%; object-fit: cover;}
.result-list .item-name {color: #777;}
.result-list .result {color: #000;}

.search-wrap .btn-wrap {margin-top: 1.5rem;}
.search-wrap .more-btn {display: none; width: 100%; padding: 7px 20px; border: 1px solid var(--border-color); border-radius: 5px;}

@media screen and (min-width: 768px) {
    .result-list .item>a {gap: 20px;}
    .search-form {padding: 15px 70px 30px;}
}
/* search e */
/** header e **/

/** footer s **/
.footer {margin-top: auto; padding: 40px 15px;}
.footer-btm {display: flex; justify-content: space-between; margin-top: 20px;}

.footer-btm a:hover, .footer-top a:focus {text-decoration: underline;}
.footer-btm p {font-weight: 700;}

@media screen and (min-width: 768px) {
    .footer-btm {margin-top: 40px; padding: 0 10px;}
    .footer-btm ul {display: flex; gap: 10px;}
    .footer-btm>div {display: flex; gap: 10px;}
}

/** footer e **/

/* 공통 max-width */
.inner-header, .gnb-inner, .footer-inner {max-width: 1600px; margin: 0 auto;}