.contents-tit {
    font-size: 16px;
    border-bottom: 1px solid #000;
}
.inner-cont h3 {
    font-size: 15px;
    font-weight: 500;
}
.inner-cont.login {max-width: 400px;
    margin-bottom: 220px;
}
.login_scont {
    text-align: center;
}
.login_scont input[type=text],
.login_scont input[type=password]{
    width: 345px;
    height: 40px;
    border: 1px solid #777;
    border-radius: 5px;
    padding-left: 5px;
    box-sizing: border-box;
    padding: 0.5% 10px;
    color: #1d1d1d;
    font-size: 13px;
}
.login_scont input[type=text] {
    margin-bottom: 15px;
    width: 100%;
}
.login_scont input[type=password] {
    margin-bottom: 2%;
    width: 100%
}
.login_scont input[type=submit] {
    background-color: black;
    width: 345px;
    height: 40px;
    
    border-radius: 5px;
    padding-left: 5px;
    color:#fff;
    font-size: 12px;
    width: 100%
}
#sbtn {
    background-color: black;
    margin: 20px 0 14px 0;
}
.addbx {
    text-align: center;
    font-size: 12px;
    margin-top: 5%;
}
.addbx a {
    color: #000;
    text-decoration: none;
    margin-right: 5px;
}
.login_scont ul li:nth-of-type(5) {
    margin-bottom: 2%;
    font-size: 13px;
}
#seleml {
    margin-bottom: 15px;
}
.stit {
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
}

@media screen and (max-width: 1024px) {
    ul {
        list-style: none;
        padding: 0;
    }
    .box {
        width: 100%;
        
    }
    .login_scont input[type=text],
    .login_scont input[type=password]{
        width: 100%;
    }
    .login_scont input[type=text] {
        margin-bottom: 2%;
    }
    #sbtn {
        width: 100%;
    }
    .addbx {
        margin-top: 0;
    }
    .login_scont input[type=submit] {
        width: 100%;
    }
    .login_scont ul li:nth-of-type(5) {
        margin-bottom: 2%;
    }
    .login_scont ul li:nth-of-type(7) {
        margin-bottom: 15px;
    }
}