/* .contents-tit {
    font-size: 16px;
    border-bottom: 1px solid #000;
}
.inner-cont h3 {
    font-size: 15px;
    font-weight: 500;
}
.inner-cont.login {max-width: 400px;
    margin-bottom: 220px;
}
.login_scont {
    text-align: center;
}
.login_scont input[type=text],
.login_scont input[type=password]{
    width: 345px;
    height: 40px;
    border: 1px solid #777;
    border-radius: 5px;
    padding-left: 5px;
    box-sizing: border-box;
    padding: 0.5% 10px;
    color: #1d1d1d;
    font-size: 13px;
}
.login_scont input[type=text] {
    margin-bottom: 15px;
    width: 100%;
}
.login_scont input[type=password] {
    margin-bottom: 2%;
    width: 100%
}
.login_scont input[type=submit] {
    background-color: black;
    width: 345px;
    height: 40px;
    
    border-radius: 5px;
    padding-left: 5px;
    color:#fff;
    font-size: 12px;
    width: 100%
}
#sbtn {
    background-color: black;
    margin: 20px 0 14px 0;
}
.addbx {
    text-align: center;
    font-size: 12px;
    margin-top: 5%;
}
.addbx span a {
    color: #000;
    text-decoration: none;
    margin-right: 5px;
}
.addbx span:nth-of-type(1) a{
    color: #7e7e7e;
}
.login_scont ul li:nth-of-type(5) {
    margin-bottom: 2%;
    font-size: 13px;
}
#seleml {
    margin-bottom: 15px;
    margin-left: 10px;
}
.stit {
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
}
.login_scont ul li:nth-of-type(6) {
    display: flex;
    justify-content: center;
}
#email1 {
    width: calc(50% - 17px);
}
#email2 {
    width: calc(50% - 17px);
}
.gol {
    margin: 0 10px;
    line-height: 35px;
}


@media screen and (max-width: 1024px) {
    ul {
        list-style: none;
        padding: 0;
    }
    .box {
        width: 100%;
        
    }
    .login_scont input[type=text],
    .login_scont input[type=password]{
        width: 100%;
    }
    .login_scont input[type=text] {
        margin-bottom: 2%;
    }
    #sbtn {
        width: 100%;
    }
    .addbx {
        margin-top: 0;
    }
    .login_scont input[type=submit] {
        width: 100%;
    }
    .login_scont ul li:nth-of-type(5) {
        margin-bottom: 2%;
    }
    .login_scont ul li:nth-of-type(7) {
        margin-bottom: 15px;
    }

    .login_scont ul li:nth-of-type(6) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #email2 {
        flex-direction: column;
    }
    #seleml {
        width: 100%;
        margin-left: 0px;
    }
} */








.login {
    margin-top: 200px;
}

#main-area {
    display: flex;
    justify-content: center;
}
.eyeli {
    position:relative;
}
.eye {
position: absolute;
transform: translate(50%, 50%);
}
.ctop h2 {
    border-bottom: 1px solid #000;
    font-size: 1.5rem;
    margin-right: 20px;
    width: 345px;
    /* margin-left: 100px; */
}
.logF ul {
    text-align: left;
    /* margin-left: 100px; */
}
.logF ul li {
    max-width: 345px;
}
.logF ul li input {
    border-radius: 5px;
    border: 1px solid #000;
    margin: 5px 0;
    justify-content: center;
    /* max-width: 345px; */
    width: 100%;
    height: 40px;
    font-size: 13px;
}
.logF ul li input[type=radio] {
    width: 10px;
    height: 20px;
    transform: translateY(5px);

}
.logF ul li:nth-of-type(6) {
    width: 345px;
    display: flex;
    justify-content: space-between;
}
#email2 {
    width: 30%;
}
.logF ul li:nth-of-type(6) input,
.logF ul li:nth-of-type(7) input  {
    width: 100px;
}
.msg {
    color:#f00;
    font-size: 0.7rem;
}
#btnj {
    background-color: #fff;
    border: none;
    width:60px;
}
.gol {
    line-height: 44px;
}
.noneid {
    color: #4b4b4b;
}
.msg {
    display: block;
}


@media (max-width: 1024px) {

}
@media (max-width: 375px) {
    .inner-cont {
        margin-top: 0
        ;
        margin-left: -00px;
    }
    .ctop {
        margin-left: 0px;
    }
    .ctop h2 {
        border-bottom: 1px solid #000;
        font-size: 1.5rem;
        width: 345px;
        margin-left:0px;
    }
    .logF ul {
        text-align: center;
        width: 345px;
        text-align: left;
        margin-left: 10px;
    }
    .logF ul li input {
        width: 320px;
    }
    .logF ul li:nth-of-type(6) {
        width: 320px;
        display: flex;
        justify-content: space-between;
    }
}





