h3.contents-tit {
    margin-bottom: 0px;
    border-bottom: 1px solid #000;
    font-weight: normal;
    font-size: 1.5rem;
    max-width: 345px;
    width: 100%;
}
.login_scont {
    margin-top: 15px;
}
.addbx {
    margin-top: 15px;
    font-size: 16px;
}

.willbec {
    display: flex;
    justify-content: center;
}
.login_scont {
    width: 100%;
}
.login_scont .box {
    width: 100%;
}
.login_scont input {
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 0 5px;
    font-size: 1rem;
    height: 40px;
}

#sbtn {
    background-color: #000;
    color: #fff;
}

.addbx span:nth-of-type(1) a {
    font-size: 16px;
}

.addbx span:nth-of-type(2) a {
    font-size: 16px;
    padding: 0 5px;
}

/*  */

.loginin {
    max-width: 345px;
    width: 100%;
    display: block;
    margin-top: 10vh;
}


#join-app {
    max-width: 345px;
    width: 100%;
}

#join-app .main-area {
    width: 100%
}

#join-app .main-area .ibx {
    width: 100%
}

.login {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

#main-area {
    display: flex;
    justify-content: center;
}

.eyeli {
    position: relative;
}

.eye {
    position: absolute;
    transform: translate(50%, 50%);
}

.ctop h2 {
    border-bottom: 1px solid #000;
    font-size: 1.5rem;
    margin-bottom:15px;
}

.logF ul {
    text-align: left;
}

.logF ul li input {
    border-radius: 5px;
    border: 1px solid #000;
    margin: 5px 0;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.logF ul li input[type=radio] {
    width: 10px;
    height: 20px;
    transform: translateY(5px);

}

.logF ul li:nth-of-type(6) {
    display: flex;
    justify-content: space-between;
}

#email1,
#email2 {
    width: 30%;
}

#seleml {
    width: 31%;
    border-radius: 5px;
    margin: 5px;
    height: 40px;
}

.logF ul li:nth-of-type(6) input,
.logF ul li:nth-of-type(7) input {
    width: 100px;
}
.logF ul li:nth-of-type(8), 
.logF ul li input {
    font-size: 16px;
}

.msg {
    color: #f00;
    font-size: 0.7rem;
}

#btnj {
    background-color: #fff;
    border: none;
    width: 60px;
}

.gol {
    line-height: 44px;
}

.noneid {
    color: #4b4b4b;
}

.msg {
    display: block;
}
