@charset "utf-8";
/* 메인페이지 pc에서만 로고 active */
@media screen and (min-width: 1024px) {
    .logo {width: 100%; height: 100%; max-width: none; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); transition: width cubic-bezier( 0.4,0.31,0.19,1 ) .55s;}
    .logo.active {width: 154px; height: auto;}
}
/* 메인 공통 */
.section .inner {max-width: 1660px; margin: 0 auto; padding: 80px 15px;}
.section-tit {font-size: 28px; font-weight: 700; font-family: var(--tamburins); padding-bottom: 0.8em; line-height: 1;}
.link-btn {display: inline-flex; justify-content: space-between; align-items: center; width: 100%; max-width: 300px; padding: 19px 25px; transition: background-color .3s; border: 1px solid #000;}
.link-btn:hover, .link-btn:focus {background-color: #000; color: #fff;}
.link-btn .icon {width: 20px; height: 20px; display: inline-block;}
.icon.star {background: url('/assets/img/main/icon_star_b.svg') no-repeat center/100%;}
.icon.arrow {background: url('/assets/img/main/icon_arrow.svg') no-repeat center/30px; transform: rotate(90deg);}
.link-btn:hover .icon.arrow, .link-btn:focus .icon.arrow {background-image: url('/assets/img/main/icon_arrow_w.svg');}
@media screen and (min-width: 768px) {
    .section .inner {padding: 100px 20px;}
    .section-tit {font-size: 1.5em;}
}

@media screen and (min-width: 1200px) {
    .section .inner {padding: 140px 30px;}
    .section-tit {font-size: 2.5em;}
}
/* section - main visual */
.video-wrap {width: 100%;}
.video-wrap video {display: none; width: 100%; max-width: 100%;}
.video-wrap video.mob {display: block;}

@media screen and (min-width: 768px) {
    .video-wrap video.mob {display: none;}
    .video-wrap video.web {display: block;}
}

/* section - Best seller */
.best-slide .swiper-slide {opacity: 0.3;}
.best-slide .swiper-slide-active {opacity: 1;}
.best-slide .item {display: flex; flex-direction: column; gap: 1rem;}
.best-slide .info-box {display: flex; flex-direction: column; gap: 5px;}
.best-slide .item .name {font-weight: 700;}
.best-slide .fragrance {color: var(--sub-text-color); font-size: 0.8rem;}

@media screen and (min-width: 768px) {
    .best-slide .swiper-slide {opacity: 1;}
}

/* section - new */
.new-product-list>li {min-height: 833px; background-image: url('/assets/img/main/bg-new-temp.png'); background-position: top; background-size: cover; background-repeat: no-repeat;}
.new-product-list .inner {max-width: 800px; margin: 0;}
.new-slide .section-tit {font-size: 56px;}
.new-slide .intro-box p {margin-top: 1rem;}
.new-slide .link-btn {background-color: rgba(255, 255, 255, 0.2); border: none; margin-top: 30px;}
.new-slide .link-btn:hover {background-color: rgba(255,255,255,0.6); color: #000;}

@media screen and (min-width: 768px) {
    .new-product-list>li {background-image: url('/assets/img/main/pc_main_banner.png');}
    .new-product-wrap {width: 50%;}
    .new-product-wrap .intro-box {font-size: 1.2rem;}
}

/* 신상품 섹션 배경 이미지 */
.new-product-list .item1 {background-image: url('/assets/img/main/bg-new-temp.png'); color: #fff;}
.new-product-list .item1 .icon.star {background-image: url('/assets/img/main/icon_star.svg');}
.new-product-list .item1 .link-btn:hover {background-color: rgba(255,255,255,0.4); color: #fff;}
.new-product-list .item2 {background-image: url('/assets/img/main/bg-new-temp.png');}
.new-product-list .item3 {background-image: url('/assets/img/main/bg-new-temp.png');}
.new-product-list .item4 {background-image: url('/assets/img/main/bg-new-temp.png');}
.new-product-list .item5 {background-image: url('/assets/img/main/bg-new-temp.png');}
.new-product-list .item6 {background-image: url('/assets/img/main/bg-new-temp.png');}
.new-product-list .item7 {background-image: url('/assets/img/main/bg-new-temp.png');}
@media screen and (min-width: 768px) {
    .new-product-list .item1 {background-image: url('/assets/img/main/pc_main_banner.png');}
    .new-product-list .item2 {background-image: url('/assets/img/main/pc_main_banner2.png');}
    .new-product-list .item3 {background-image: url('/assets/img/main/pc_main_banner3.png');}
    .new-product-list .item4 {background-image: url('/assets/img/main/pc_main_banner4.png');}
    .new-product-list .item5 {background-image: url('/assets/img/main/pc_main_banner5.png');}
    .new-product-list .item6 {background-image: url('/assets/img/main/pc_main_banner6.png');}
    .new-product-list .item7 {background-image: url('/assets/img/main/pc_main_banner7.png');}
}

/* section - store */
.store-wrap {display: flex; flex-direction: column-reverse; gap: 60px; justify-content: space-between;}
.store-wrap .section-tit {font-family: var(--pretendard);}

.store-slide {padding-bottom: 20px;}
.store-name {margin-top: 1rem; opacity: 0; transition: opacity 0.5s;}
.store-name.show {opacity: 1;}
.store-slide .swiper-scrollbar {border-radius: 0; width: 100%; left: 0;}
.store-slide .swiper-scrollbar-drag {background: #000; border-radius: 0;}
.store-slide .swiper-button-prev,
.store-slide .swiper-button-next {width: 40px; height: 40px; background-image: none; background-color: #000; transform: translateY(-50%); margin-top: 0; top: calc(50% - 10px);}
.store-slide .swiper-button-prev {left: 0;}
.store-slide .swiper-button-next {right: 0;}
.store-slide .swiper-button-next:after, 
.store-slide .swiper-button-prev:after {font-size: 16px; color: #fff;}

.store-wrap .link-btn {margin-top: 30px;}
@media screen and (min-width: 1024px) {
    .store-wrap {flex-direction: row-reverse;}
    .store-slide-wrap {width: calc(60% - 30px);}
    .store-info {width: calc(40% - 30px);}
    .store-slide .swiper-button-prev,
    .store-slide .swiper-button-next {width: 60px; height: 60px;} 
    .store-slide .swiper-button-next:after, 
    .store-slide .swiper-button-prev:after {font-size: 20px;}
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
