@charset "utf-8";

/* 제품리스트 CSS - product-list.css */
.sub-top .category-tab{
  /* width: 100vw; */
align-items: center;
}
/* product-list-area s */
.product-list-area {
  width: 100%;
}
/* product-list-area e */

/* product-list-wrap s */
.product-list-wrap {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}
.product-list-wrap li {
  position: relative;
  overflow: hidden;
}
.product-list-wrap > li:hover img {
  animation: productImgScaleUp 10s linear infinite alternate;
}
@keyframes productImgScaleUp {
  to {
    scale: 1.1;
  }
}
.product-img-wrap {
  width: 100%;
  overflow: hidden;
}

.product-list-wrap button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
.product-list-wrap .cart-box {
  background: rgba(0, 0, 0, 0.4);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #fff;
  justify-items: center;
  align-content: center;
}
/* product-list-wrap e */

/* product-info s */
.product-info {
  padding: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-info h2 {
  font-weight: 700;
}
.product-info em {
  font-size: 14px;
    color: #575656;
}
.product-info strong{
  font-weight: 500;
  font-size: 17px;
}
.product-info section{
  display: flex;
  justify-content: space-between;
}
.product-info section .product-note-count{
  font-size: 14px;
  color: #737373;
  
}
/* product-info e */

/* =========================================
===============미디어쿼리 영역 시작==============*/

/******************* 1024px *******************/
@media (max-width: 1024px) {
  /* 리스트 박스 컬럼개수 */
  .product-list-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

/******************* 모바일 *******************/

/* ========================================
  ===============미디어쿼리 영역 끝==============*/
