@charset "utf-8";

/* 제품리스트 CSS - product-list.css */
html {
  scroll-behavior: smooth;
}
.contents {
  margin-top: 0;
}
/* product-view-wrap */
.product-view-wrap {
  display: flex;
}
.product-view-wrap .sticky-area {
  position: relative;
  width: 50%;
}
.product-slide {
  position: relative;
}

/* thumb-box s */
.thumb-box {
  width: 50%;
}
.thumb-box .product-slide-wrap {
  position: relative;
  flex-direction: column;
  height: 100%;
}
.thumb-box .product-slide-wrap img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.thumb-box .bullet-box {
  position: sticky;
  top: 50%;
  left: 1%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  
}
.thumb-box .bullet-box .bullet {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #a6a6a6;
  display: inline-block;
  transition: .4s;
}
.thumb-box .bullet-sticky-area {
  position: absolute;
  top: 0;
  left: 2%;
  height: 89%;
}
.thumb-box .bullet-box .bullet.on {
  background-color: #000;
  width: 8px;
  height: 8px;
}

/* thumb-box e */
/* detail-box-wrap s */
.desc button{
  display: none;
}
.detail-box-wrap {
  position: sticky;
  right: 0;
  top: 0;
  padding: 10vw 10vw 2vw;
  overflow: hidden;
}
.detail-box-wrap h4 {
  font-size: 22px;
  font-weight: normal;
  padding: 5px 0;
  font-weight: 500;
}
.detail-box-wrap em {
  font-size: 20px;
  display: block;
  padding: 0px 0 15px;
}
.detail-box-wrap .fragrance {
  font-size: 18px;
  padding: 10px 0;
}
.detail-box-wrap span {
  font-size: 15px;
  margin: 10px 0;
  line-height: 1.6;
}
/* detail-box e */

/* option box s */
.option-box a img {
  width: 5.1vw;
  height: 6.3vw;
  border-radius: 0.3vw;
  margin: 0 auto;
  padding: 0.2vw;
  box-sizing: border-box;
}
.option-box .swiper-slide p {
  font-size: 10px;
  text-align: center;
  padding: 10px 0 0;
}
.option-box .swiper {
  border-bottom: 1px solid #efefef;
  padding: 30px 0 20px;
}
.selected {
  border: 1px solid #000;
}
/* option box e */

/* more option box s */
.more-option-box p {
  font-size: 12px;
  font-weight: normal;
  margin-top: 20px;
}
.more-option-box .link-btn-wrap {
  display: flex;
  width: 100px;
  gap: 5px;
}
.more-option-box .link-btn-wrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 94px;
  height: 40px;
  padding: 0 32px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #efefef;
  line-height: 100%;
  font-size: 13px;
  color: #767676;
}
.more-option-box .btn-wrap {
  margin: 20px 0;
  padding: 10px 5px;
  text-align: center;
  background-color: #000;
  border-radius: 0.5vw;
}
.more-option-box .btn-wrap .add-btn {
  color: #fff;
  border: none;
}
/* more option box e */
/* accordion-wrap s */
.accordion-wrap .accordion {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 35px;
}
.accordion-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-btn.on i{
rotate: 90deg;
}

.accordion-wrap .accordion-btn {
  font-size: 14px;
  color: #1d1d1d;
}
.accordion-cont {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: -150%;
  background-color: #fff;

  padding: 70px 40px 40px;
  z-index: 2;
 
} 
.accordion-cont.on {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0%;
  background-color: #fff;
  
  padding: 70px 40px 40px;
  z-index: 2;

}

.accordion-cont button{
  position: absolute;
  right: 50px;
  z-index: 3;
}
.ProductOuterDetail-info-wrap h3{
  font-size: 20px;
}

.accordion-cont >p{
  white-space: pre-line;
    font-size: 13px;
    line-height: 22px;

}
.ProductOuterDetail-info-wrap h3{
  display: block;
  margin: 1.354vw 0 .312vw;
  font-weight: bolder;
}
.ProductOuterDetail-info-wrap p{

  white-space: pre-line;
      font-size: 13px;
      line-height: 22px;
}
/* accordion-wrap e */
/* .shopping-box-wrap s */
.shopping-box-wrap strong{
  display: block;
  margin: 30px 0 20px;
  font-weight: bold;
}
.shopping-box-wrap p{
  margin-top: 10px;
  font-size: 14px;
}
.size-table strong{
  font-weight: bold;
  font-size: 15px;

}
.size-table table{
  width: 100%;
  border-collapse: collapse;
}
.size-table tr{
  border-bottom: 1px solid #ccc;
  
}
.size-table td{
  padding: .5vw 0;
}
/* .shopping-box-wrap e */

.breadcrumb {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.dragSwiper {
  display: none;
}
.swiper-pagination-bullet-active {
  background-color: #000;
}

/* =========================================
===============미디어쿼리 영역 시작==============*/

/******************* 1024px *******************/
@media (max-width: 1024px) {
  .sub-top {
    display: none;
  }
  
  .product-view-wrap {
    flex-direction: column;
  }
  .product-view-wrap .thumb-box {
    width: 100%;
  }
  .thumb-box .product-slide-wrap {
    display: flex;
    flex-direction: row;
    height: auto;
    left: 0;
  }
  .dragSwiper {
    width: 100%;
    display: block;
    overflow: hidden;
    height: 118vw;
    position: relative;
    cursor: pointer;
  }
  .dragSwiper img {
    width: 100%;
    height: 100%;
  }

  .thumb-box .product-slide-wrap div {
    width: 100%;
    object-fit: cover;
  }
  .product-view-wrap .sticky-area {
    width: 100%;
  }

  .thumb-box .bullet-sticky-area {
    display: none;
  }

  .detail-box span {
    display: block;
    overflow: hidden;
    height: 0;
    transition: 0.4s;
  }
  .detail-box span.on {
    height: 150px;
  }
  .desc {
    display: flex;
    gap: 10px;
  }
  .desc button{
    display: block;
  }
  
  .desc button.on {
    rotate: 180deg;
  }
  .detail-box-wrap {
    color: #1d1d1d;
  }
  .detail-box h4,
  em {
    font-size: 20px;
  }
  .detail-box .fragrance {
    font-size: 18px;
  }
  .option-box a img {
    width: 100%;
    height: 100%;

    border-radius: 1.2vw;
  }
  .option-box .swiper {
    border-bottom: 1px solid #efefef;
    padding: 10px 0 20px;
  }
  .swiper-pagination {
    display: block;
  }
  .dragSwiper {
    display: block;
  }
  .product-slide {
    display: none;
  }
  .accordion-cont {
    position: relative;
    width: 100%;
    height: 0;
    top: 0;
    right: 0;
    background-color: #fff;
    
    padding: 0;
    overflow: hidden;
  }
  .accordion-cont.on {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    
    padding: 20px 10px;
  }
  .accordion-cont button{
    display: none;
  }
}

/******************* 모바일 *******************/

/* ========================================
  ===============미디어쿼리 영역 끝==============*/
