@charset "utf-8";


.svc{
    /* background-color: #d5d5d5; */
    text-align:left;
    padding: 50px;
}

.svc button{
    color: red;
    font-size: 40px;
    border: 1px;
    background-color: black;   
}  
